<% if logged_in? %>
	<p class='pull-right'>
		[<%= link_to 'edit this post', edit_post_path(@post)%>]
	</p>
<% end %>

<p>
	<%= render @post.categories %>
</p> 

<%= render 'shared/content_title', title: @post.title %>

<p>
	<%= @post.reload.description %>
</p>
<%= facebook_like %>
<p>
	<span class='quiet'>posted by </span> <%= link_to @post.creator.username, user_path(@post.creator) %>
	<small>at <%= display_datetime(@post.created_at) %></small>
</p>
<hr/>			

<% if logged_in? %>
	<%= form_for [@post, @comment] do |f| %>
		<%= render 'shared/errors', obj: @comment %>
		<div calss='control-group'>
			<%= f.label :body, 'Leave a comment' %>
			<%= f.text_area :body, rows: 3, class: 'span4' %>
		</div>
		<%= f.submit 'Create Comment', class: 'btn btn-primary' %>
	<% end %>		
<% end %>	

<h5><%= pluralize(@post.comments.count, "Comment") %>:</h5>

<% @post.reload.comments.each do |comment| %>
	<%= render 'comments/comment', comment: comment %>
<% end %>		

